html, body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    position: absolute;
    left: 30px;
   /* top: 30px;*/
}

header h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

header p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#Canvas {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(250, 250, 250);
    z-index: -1;
    background-color:white;
}
.grid{border-radius: 12px;
               background-color:PeachPuff;}
 .grid:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}