.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Change the backgorund Color of Left Half*/ 
#c1 {
	background:ghostwhite;
	width: 30%;
}
#c2 {
	background: white;
}
h2{
  color:royalblue;
}
h3{
  color:firebrick;
}
canvas{
	background:#ffffff;
  z-index:-1;
  
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 25%;
  padding: 8px;
}
.row1 {
        display: flex;
        justify-content: space-between;
    }
    .parent {
  position: relative;
}
.right {
    position: absolute;
    left: 0;
}
.buttondec {border-radius: 12px;}
 .buttondec:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

 .buttondecor{border-radius: 12px;
               background-color:lightgreen;}
 .buttondecor:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}


 .initt{border-radius: 12px;
               background-color:tomato;}
 .initt:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}



 .square{border-radius: 12px;
               background-color:dodgerblue;}
 .square:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

 .line{border-radius: 12px;
               background-color:yellow;}
 .line:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}


 .grid{border-radius: 12px;
               background-color:PeachPuff;}
 .grid:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
